
        main {
            width: 95%;
            margin: 0px auto;
            background-image: url(../../public/bg\ img.jfif);
            background-size: cover;
            background-position: center;
            position: relative;
            padding: 1vw;
        }

        main::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(26, 24, 24, 0.6);
            z-index: 1;
        }

        .allContent-div {
            width: 95%;
            margin: auto;
            min-height: 90vh;
            display: flex;
            flex-direction: column;
            gap: 2vw;
            position: relative;
            z-index: 2;
            color: white;
        }

        .top-text {
            font-size: 4vw;
            text-align: center;
            margin: 2vw;
            position: relative;
            z-index: 2;
            color: white;
        }

        h3 {
            font-size: 3vw;
            position: relative;
            z-index: 2;
        }

        .sub-content p {
            font-size: 2vw;
            margin-bottom: 1vw;
            position: relative;
            z-index: 2;
        }

        .sub-content {
            display: flex;
            flex-direction: column;
            gap: 1vw;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            .top-text {
                font-size: 3vw;
            }

            .sub-content>h3 {
                font-size: 3.5vw;
            }

            .sub-content>p {
                font-size: 2.7vw;
                line-height: 1.5;
            }

        }

        @media(max-width:757px) {
            .top-text{
                font-size: 4.7vw;
            }

            .sub-content > h3{
                font-size: 4vw;
            }

            .sub-content> p{
                font-size: 3.3vw;
                line-height: 1.5;
            }
        }
    