* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.faq-section {
    padding: 4vw 10vw 2vw 10vw;
    width: 90%;
    margin: auto;
}

.faq-section>h1 {
    text-align: center;
    font-size: 2.4vw;
    margin-bottom: 3vw;
}

.faq-item {
    border-radius: 1vw;
    margin-bottom: 1vw;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-question {
    padding: 1.4vw 1.4vw;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question p {
    margin: 0;
    font-size: 1.4vw;
}

.faq-icon {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.faq-answer {
    padding: 0 1vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-answer p {
    margin: 1.3vw 0;
    font-size: 16px;
    font-style: italic;
}

.faq-item.active .faq-answer {
    max-height: 12vw;
    padding: 1.2vw 1.7vw;
}

.faq-item.active .faq-icon {
    transform: rotate(180deg);
}

/* for tablet devices */
@media (min-width: 768px) and (max-width: 1024px) {
    .faq-section>h1 {
        font-size: 4vw;
    }

    .faq-question p {
        font-size: 2.6vw;
    }

    .faq-answer p {
        font-size: 2.4vw;
    }
}

@media (max-width: 767px) {
    .faq-section>h1 {
        font-size: 4.5vw;
    }

    .faq-question p {
        font-size: 3vw;
    }

    .faq-answer p {
        font-size: 2.6vw;
    }
}