* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
}

.top-main {
    height: 60vh;
    position: relative;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.top-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../public/bg\ img.jfif);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}

.top-contents {
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.top-contents>h1 {
    font-size: 4vw;
    margin-bottom: 2vw;
}

.top-contents>p {
    font-style: italic;
    font-size: 1.5vw;
    margin-bottom: 7vw;
}

.getStartBtn {
    height: 3vw;
    width: 7vw;
    background-color: #F38402;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
}

.getStartBtn:hover {
    background-color: rgb(3, 83, 3);
}

@media (min-width: 768px) and (max-width: 1024px) {

    .top-contents>.getStartBtn {
        width: 12vw;
        height: 4.5vw;
    }
}

/* for mobile devices */
@media (max-width: 767px) {

    .top-main {
        height: 30vh;
    }

    .top-contents>h1 {
        font-size: 5vw;
    }

    .top-contents>p {
        font-size: 2.5vw;
    }

    .top-contents>.getStartBtn {
        width: 20vw;
        height: 7vw;
    }

}