body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    box-sizing: border-box;
    background-color: #f4f4f4;
    width: 100%;
}

main {
    padding: 40px 20px;
    width: 95%;
    margin: 1.5vw auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.top-text {
    font-size: 2.5em;
    margin-bottom: 20px;
    
}

.allContent-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.sub-content h3 {
    color: #333;
    font-size: 1.9vw;
    margin-bottom: 10px;
}

.sub-content p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
}


/* for mobiles */
@media (max-width: 767px) {
    .top-text {
        font-size: 2em;
    }

    .allContent-div {
        gap: 10px;
    }

    .sub-content h3 {
        font-size: 1.5em;
    }

    .sub-content p {
        font-size: 1em;
    }

    main {
        padding: 20px 10px;
    }
}

/* for Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .top-text {
        font-size: 2.2em;
    }

    .sub-content h3 {
        font-size: 1.6em;
    }

    .sub-content p {
        font-size: 1.05em;
    }

    main {
        padding: 30px 15px;
    }
}
