
        main {
            width: 95%;
            margin: 0 auto;
            background-image: url(../public/bg\ img.jfif);
            background-size: cover;
            background-position: center;
            position: relative;
            padding: 1vw;
        }

        main::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(64, 61, 61, 0.6);
            z-index: 1;
        }

        .allContent-div {
            width: 95%;
            margin: auto;
            min-height: 90vh;
            display: flex;
            flex-direction: column;
            gap: 1vw;
            position: relative;
            z-index: 2;
            color: white;
        }

        .top-div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        .top-div>h1 {
            width: 40%;
            font-size: 6vw;
            text-align: left;
            color: white;
            margin: 0;
        }

        .logo-img {
            width: 40%;
            display: flex;
            margin: auto;
            justify-content: flex-end;
        }

        .logo-img>img {
            width: 8vw;
            height: auto;
        }

        .main-content {
            width: 90%;
            margin: auto;
            padding: 2vw;
            display: flex;
            flex-direction: column;
            background: rgba(169, 166, 166, 0.3);
            backdrop-filter: blur(10px);
            border-radius: 10px;
        }

        .main-content>.contents {
            line-height: 1.5;
            font-size: 2rem;
            color: white;
        }

        .contents > span{
            font-size: 2vw;
            font-style: italic;
        }

        @media (max-width: 768px) {
            .top-div>h1 {
                font-size: 6vw;
            }

            .logo-img>img {
                width: 100px;
            }
        }
