        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            width: 100%;
            max-width: 100%;
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }

        main {
            width: 60%;
            margin: auto;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .myForm {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .myForm>h1 {
            margin-bottom: 3vw;
            width: 100%;
        }

        .inputContainer {
            width: 48%;
            margin-bottom: 15px;
            position: relative;
        }

        .inputContainer.fullWidth {
            width: 100%;
            height: 4vw;
        }

        .inputContainer.profileContainer {
            width: 60%;
        }

        .inputContainer>label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        .inputField,
        .passwordField {
            width: 100%;
            height: 2.6vw;
            border-radius: 10px;
            padding: 0.5em 1em;
            border: 1px solid #ccc;
            font-size: 1em;
            outline: none;
        }

        .passwordContainer {
            display: flex;
            align-items: center;
            position: relative;
        }

        .toggle-password {
            position: absolute;
            right: 10px;
            cursor: pointer;
        }

        .error {
            width: 100%;
            font-size: smaller;
            color: red;
            margin-top: 5px;
        }

        .loginPoint {
            width: 100%;
            text-align: center;
            margin-top: 15px;
        }

        .signup {
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }

        #profile{
            display: none;
        }

        .profileSelect{
            background: linear-gradient(to right, #ff7e5f, #feb47b);
            padding: 10px 10px;
            border-radius: 5px;
            margin-top: 5px;
            cursor: pointer;
        }

        .signup button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
        }

        @media (min-width: 767px) and (max-width:1024px) {

            .inputField,
            .passwordField {
                height: 4.5vw;
            }

        }

        @media (max-width: 768px) {
            .inputContainer {
                width: 100%;
            }

            .inputContainer.profileContainer {
                width: 100%;
            }

            .inputField,
            .passwordField {
                height: 7vw;
                padding: 0.8em 1em;
            }

            .toggle-password {
                top: 70%;
                transform: translateY(-50%);
            }
        }

        @media (max-width: 600px) {

            .inputField,
            .passwordField {
                height: 7vw;
            }

            .toggle-password {
                top: 75%;
                transform: translateY(-50%);
            }
        }