        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .found-item {
            display: flex;
            align-items: center;
            background-color: #ff5722;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .found-item span {
            margin-right: 10px;
            color: white;
            font-weight: bold;
        }

        .here-btn {
            background-color: #ffc107;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;

        }

        #here {
            text-decoration: none;
            color: white;
        }

        .here-btn:hover {
            background-color: #e0a800;
        }

        .filter {
            width: 92%;
            height: 3vw;
            display: flex;
            justify-content: right;
            align-items: center;
        }

        .selectBox {
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1.6vw;
            background: #ff8a50;
        }

        .content {
            text-align: center;
            padding: 20px;
        }

        .post-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2vw 1vw;
            justify-items: center;
            padding: 20px;
        }

        .post-item {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-align: center;
            width: 18vw;
            cursor: pointer;
        }

        .img-item{
            width: 200px;
            height: 200px;
        }

        .post-title,
        .finder-name {
            margin: 10px 0;
        }
        .post-title{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            font-size: 1.6vw;
            /* Number of lines to show */
            font-weight: bold;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .footer {
            display: flex;
            justify-content: center;
            padding: 20px;
        }

        .more-btn {
            background-color: #ff5722;
            border: none;
            width: 7vw;
            height: 3.5vw;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            font-weight: bold;
            font-size: 1.3vw;
        }

        .more-btn:hover {
            background-color: #e64a19;
        }

        .no-items{
            max-width: 100%;
            margin: auto;
            padding: 2vw;
        }

        .no-items>h1{
            margin: 2vw auto;
        }
        
        .notFoundImg{
            width: 100%;
        }



        @media (max-width: 767px) {
            .found-item {
                flex-direction: column;
                padding: 10px;
            }

            .here-btn {
                width: 100%;
                margin-top: 10px;
                padding: 10px 0;
            }

            .post-grid {
                grid-template-columns: 1fr;
            }

            .post-item {
                width: 90%;
                padding: 10px;
            }

            .footer {
                padding: 10px;
            }

            .more-btn {
                width: 20vw;
                height: 8vw;
                font-size: 3vw;
            }
        }


        @media (min-width: 768px) and (max-width: 1024px) {
            .post-grid {
                grid-template-columns: repeat(2, 1fr);
            }

            .post-item {
                width: 80%;
                padding: 15px;
            }

            .footer {
                padding: 15px;
            }

            .more-btn {
                width: 8vw;
                height: 4vw;
                font-size: 1.8vw;
            }
        }